<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Absen</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
        integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>

<body>
    <div id="app" class="container">
        <h2>Absen Anggota OZIZ</h2>
        <div class="form-group" v-if="edit == false">
            <input type="text" class="form-control" name="todo" placeholder="Namaewa..." v-model="todo"
                @keyup.enter="addTodo">
            <button class="btn btn-primary" @click="addTodo()" style="margin-top:8px;">Tambah</button>
        </div>
        <div class="form-group" v-else>
            <input type="text" class="form-control" name="todo" placeholder="Namaewa..." v-model="todo"
                @keyup.enter="update(todo, index)" v-bind="todo">
            <input type="text" hidden v-bind="index" v-model="index">
            <button class="btn btn-primary" @click="update(todo, index)" style="margin-top:8px;">update</button>
        </div>
        <table class="table" v-if="todos.length > 0">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody v-for="(todo, index) in todos" :key="index">
                <td scope="row">{{ index }}</td>
                <td>{{ todo }}</td>
                <td>
                    <button class="btn btn-warning" @click="editable(todo, index)">Edit</button>
                    <button class="btn btn-danger" @click="deleteTodo(index)">Hapus</button>
                </td>
            </tbody>
        </table>
        <h3 v-else>Data Masih Kosong gaes</h3>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                todos: [
                    "Ardabilli",
                    "Susanti",
                    "Andre"
                ],
                todo: "",
                index:0,
                edit: false

            }
        },
        methods: {
            addTodo() {
                this.todos.push(this.todo)
                this.todo = ""
            },
            deleteTodo(index) {
                this.todos.splice(index, 1)
            },
            editable(todo, index) {
                this.edit = true
                this.todo = todo
                this.index = index
            },
            update(todo,index) {
                this.todos[index] = todo
                this.todo = ""
                this.edit = false
            }
        },

    })
</script>

</html>